{
  "mysql": {
{% if semaphore_db_type == 'mysql' %}
    "host": "{{ semaphore_db_host }}:{{ semaphore_db_port }}",
    "name": "{{ semaphore_db_name }}",
    "user": "{{ semaphore_db_user }}",
    "pass": "{{ semaphore_db_password }}",
    "options": null
{% else %}
    "host": "",
    "name": "",
    "user": "",
    "pass": "",
    "options": null
{% endif %}
  },
  "postgres": {
{% if semaphore_db_type == 'postgres' %}
    "host": "{{ semaphore_db_host }}:{{ semaphore_db_port }}",
    "name": "{{ semaphore_db_name }}",
    "user": "{{ semaphore_db_user }}",
    "pass": "{{ semaphore_db_password }}",
    "options": null
{% else %}
    "host": "",
    "name": "",
    "user": "",
    "pass": "",
    "options": null
{% endif %}
  },
  "sqlite": {
{% if semaphore_db_type == 'sqlite' %}
    "path": "/var/lib/semaphore/database.db"
{% else %}
    "path": ""
{% endif %}
  },
  "dialect": "{{ semaphore_db_type }}",
  "port": "3000",
  "interface": "",
  "tmp_path": "/tmp/semaphore",
  "cookie_hash": "{{ semaphore_cookie_hash }}",
  "cookie_encryption": "{{ semaphore_cookie_encryption }}",
  "access_key_encryption": "{{ semaphore_cookie_encryption }}",
  "email_sender": "{{ semaphore_email_from }}",
  "email_host": "{{ semaphore_email_host }}",
  "email_port": "{{ semaphore_email_port }}",
  "email_username": "{{ semaphore_email_user }}",
  "email_password": "{{ semaphore_email_password | default('') }}",
  "web_host": "{{ semaphore_web_root }}",
  "ldap_binddn": "{{ semaphore_ldap_bind_dn }}",
  "ldap_bindpassword": "{{ semaphore_ldap_bind_password | default('') }}",
  "ldap_server": "{{ semaphore_ldap_host }}:{{ semaphore_ldap_port }}",
  "ldap_searchdn": "{{ semaphore_ldap_base_dn }}",
  "ldap_searchfilter": "(&(objectClass=person)(uid=%s))",
  "ldap_mappings": {
    "dn": "dn",
    "mail": "mail",
    "uid": "uid",
    "cn": "cn"
  },
  "ldap_enable": {{ semaphore_ldap_enabled | lower }},
  "telegram_chat": "",
  "telegram_token": "",
  "max_parallel_tasks": {{ semaphore_concurrent_tasks }},
  "email_secure": false,
  "email_alert": {{ semaphore_email_enabled | lower }},
  "telegram_alert": false,
  "slack_alert": false,
  "rocketchat_alert": false,
  "microsoft_teams_alert": false,
  "oidc_providers": null,
  "password_login_disable": false,
  "non_admin_can_create_project": false,
  "git_client": "{{ semaphore_git_client }}",
  "runner": {
    "registration_token": "{{ semaphore_runner_registration_token }}",
    "config_file": "/tmp/semaphore-runner.json",
    "api_url": "http://localhost:3000/api",
    "max_parallel_tasks": {{ semaphore_concurrent_tasks }}
  }
}