# {{ ansible_managed }}
# OpenSSH Server Configuration

# Basic configuration
Port {{ common_ssh_port }}
Protocol 2
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::

# Host keys
HostKey /etc/ssh/ssh_host_rsa_key
HostKey /etc/ssh/ssh_host_ecdsa_key
HostKey /etc/ssh/ssh_host_ed25519_key

# Logging
SyslogFacility AUTH
LogLevel INFO

# Authentication
LoginGraceTime {{ common_ssh_login_grace_time }}
PermitRootLogin {{ common_ssh_permit_root_login }}
StrictModes {{ common_ssh_strict_modes }}
MaxAuthTries {{ common_ssh_max_auth_tries }}
MaxSessions {{ common_ssh_max_sessions }}

# Password authentication
PasswordAuthentication {{ common_ssh_password_authentication }}
PermitEmptyPasswords {{ common_ssh_permit_empty_passwords }}

# Public key authentication
PubkeyAuthentication {{ common_ssh_pubkey_authentication }}
AuthorizedKeysFile .ssh/authorized_keys

# Other authentication methods
ChallengeResponseAuthentication {{ common_ssh_challenge_response_authentication }}
GSSAPIAuthentication {{ common_ssh_gssapi_authentication }}
UsePAM {{ common_ssh_use_pam }}

# X11 forwarding
X11Forwarding {{ common_ssh_x11_forwarding }}

# Connection settings
TCPKeepAlive {{ common_ssh_tcp_keep_alive }}
ClientAliveInterval {{ common_ssh_client_alive_interval }}
ClientAliveCountMax {{ common_ssh_client_alive_count_max }}
UseDNS {{ common_ssh_use_dns }}

# Banner
{% if common_ssh_banner is defined %}
Banner /etc/ssh/banner
{% endif %}

# Message of the day
PrintMotd {{ common_ssh_print_motd }}
PrintLastLog {{ common_ssh_print_last_log }}

# Crypto settings
{% if common_ssh_ciphers is defined and common_ssh_ciphers|length > 0 %}
Ciphers {{ common_ssh_ciphers|join(',') }}
{% endif %}

{% if common_ssh_macs is defined and common_ssh_macs|length > 0 %}
MACs {{ common_ssh_macs|join(',') }}
{% endif %}

{% if common_ssh_kex_algorithms is defined and common_ssh_kex_algorithms|length > 0 %}
KexAlgorithms {{ common_ssh_kex_algorithms|join(',') }}
{% endif %}

# Allow client to pass locale environment variables
AcceptEnv LANG LC_*

# Subsystems
Subsystem sftp /usr/lib/openssh/sftp-server

# User/Group specific settings
{% if common_ssh_allow_users is defined %}
AllowUsers {{ common_ssh_allow_users|join(' ') }}
{% endif %}

{% if common_ssh_allow_groups is defined %}
AllowGroups {{ common_ssh_allow_groups|join(' ') }}
{% endif %}

{% if common_ssh_deny_users is defined %}
DenyUsers {{ common_ssh_deny_users|join(' ') }}
{% endif %}

{% if common_ssh_deny_groups is defined %}
DenyGroups {{ common_ssh_deny_groups|join(' ') }}
{% endif %}