<?xml version="1.0"?>
<opnsense>
  <version>24.7</version>
  <system>
    <hostname>{{ opnsense_base_config.hostname }}</hostname>
    <domain>{{ opnsense_base_config.domain }}</domain>
    <timezone>{{ opnsense_base_config.timezone }}</timezone>
    <dnsserver>{{ opnsense_base_config.dns_servers | join(',') }}</dnsserver>
    <webgui>
      <protocol>https</protocol>
      <port>{{ opnsense_api.port }}</port>
    </webgui>
  </system>
  <interfaces>
    <wan>
      <if>{{ opnsense_interfaces.wan.name }}</if>
      <descr>{{ opnsense_interfaces.wan.description }}</descr>
      <enable>{{ opnsense_interfaces.wan.enable }}</enable>
      <ipaddr>{{ opnsense_interfaces.wan.ipv4_type }}</ipaddr>
      <ipaddrv6>{{ opnsense_interfaces.wan.ipv6_type }}</ipaddrv6>
    </wan>
    <lan>
      <if>{{ opnsense_interfaces.lan.name }}</if>
      <descr>{{ opnsense_interfaces.lan.description }}</descr>
      <enable>{{ opnsense_interfaces.lan.enable }}</enable>
      <ipaddr>{{ opnsense_interfaces.lan.ipv4_address }}</ipaddr>
      <subnet>{{ opnsense_interfaces.lan.ipv4_subnet }}</subnet>
      <ipaddrv6>{{ opnsense_interfaces.lan.ipv6_type }}</ipaddrv6>
    </lan>
  </interfaces>
  <filter>
    <rule>
      <type>block</type>
      <interface>wan</interface>
      <ipprotocol>inet</ipprotocol>
      <descr>Default block WAN to LAN</descr>
      <source>
        <any>1</any>
      </source>
      <destination>
        <network>lan</network>
      </destination>
    </rule>
    <rule>
      <type>pass</type>
      <interface>lan</interface>
      <ipprotocol>inet</ipprotocol>
      <descr>Default allow LAN to any</descr>
      <source>
        <network>lan</network>
      </source>
      <destination>
        <any>1</any>
      </destination>
    </rule>
  </filter>
</opnsense>